body{
    background-color:aliceblue;
}
.navbar{
    z-index: 15;
    background-color:#36A3A7;
color: white;
    padding:25px;
    text-align: center;
    width: 100%;
    position: fixed;

}
.title{
    margin-right: 45px;
    display: inline;
    font-size: 30px;
}
a{
  text-decoration: none;
  color: white;
}
.navs{
    margin-right: 15px;
    display: inline;
    font-size: 20px;
    font-weight:bolder;
}
.navs:hover{
  color: rgb(49, 10, 122);
}
.introCont {
    margin-top: 25px;
text-align: center;
padding: 30px;
    background-image: url('./pic2.jpg');
    background-size: contain;
    background-position:center;
    background-repeat:repeat;
    border-radius:15px;
    margin-bottom: 15px;
  }
  .introTitle{
    margin-top: 90px;
    width: 60%;
    background-color: #B2E3E5;
    padding: 15px;
    border-radius: 15px;
  box-shadow: lightgrey 2px 2px;
  margin-bottom: 15px;
  margin-left: 20%;
  }
  #container{
    text-align: center;
    padding: 15px;
  }
  .welcome {
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: lighter;
  }
  span{
    font-weight: 300;
    color: white;
    font-family: impact;
    text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black, 
        -1px 1px 0 black, 
        1px 1px 0 black;
  }
  .introduction{
    font-size: 30px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
        -1px -1px 0 white, 
        1px -1px 0 white, 
        -1px 1px 0 white, 
        1px 1px 0 white;
        text-align: center;
        font-weight: 200;

  }
.blog{
    padding: 15px;
    height: 250px;
    width: 80%;
    margin-left: 10%;
    background-color: #B2E3E5;
    border-radius: 15px;
    box-shadow: lightgrey 3px 3px;
    margin-bottom: 15px;
    position: relative;
}
.blog:hover{
    transform: scale(1.02);
    background-color:#AAD5F9 ;
    transition: all 0.3s ease;
}
.slideshow {
    z-index: -1;
    width: auto;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
  }

  .slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade 12s infinite;
  }
  .slideshow img:nth-child(1) { animation-delay: 0s; }
  .slideshow img:nth-child(2) { animation-delay: 4s; }
  .slideshow img:nth-child(3) { animation-delay: 8s; }
  @keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
  }
  .box{
    background-color: #AAD5F9;
     width: fit-content;
      padding: 8px;
      border-radius: 15px;
      margin-bottom: 15px;
      margin-left: 9%;
      box-shadow: lightgrey 3px 3px;
      color:white;
      font-family: Marko One , cursive;
  }
  footer{
    background-color: #36A3A7;
    height: 70px;
    width: 100%;
  }
  .button{
background-color: #51B1A9;
border-radius: 25px;
color: #E6F9A7;
font-family: Marko One , cursive;
width: 150px;
height: 50px;
position: absolute;
bottom: 15px;
right: 25px;
box-shadow: rgb(92, 80, 80) 3px 3px;
  }
  .button:hover{
    background-color: #6dccdd;
    transition: all 0.3s ease;
  }
  ul{
    display: inline;
    list-style-type: none;
  }
  ul li{
    display: inline-block;
    margin-right: 5px;
    position: relative;
  }
  ul li a{
    font-size: 22px; 
    display: block;
    text-align: center;
  }
  .dropdown li{
    display: block;
    text-align: left;
    width: 100%;
    height: 50px;
    padding: 15px;
  }
  .dropdown{
    margin-top: 1px;
    background-color: #6dccdd;
    display: none;
    text-align: left;
    width: max-content;
    border-radius: 15px;
    box-shadow: rgb(240, 240, 149) 3px 3px;
    position: absolute;
    z-index: 999;
  }
  ul li a:hover{
    color: rgb(240, 240, 149);
  }
  ul.dropdown li{
    padding: 7px;
    margin-top: 2px;
    position: relative;
    left: 5px;
  }
  ul.dropdown li:hover{
    background-color: #36A3A7;
    width: 80%;
    border-radius: 5px;
    color: rgb(240, 240, 149);
    transition: all 0.3 ease;
  }
  ul li:hover ul.dropdown{
    display: block;
    transition: all 0.3s ease;
  }
  #abt {
    text-align: center;
    width: max-content;
    height: max-content;
    background-color: #6dccdd;
    border-radius: 15px;
    box-shadow: #E6F9A7 3px 3px;
    margin-top: 10px;
    position: absolute;
    top: 15px;
    right:10%;
    z-index: 999;
    display:none;
    padding: 3px;
   }
 
  .about:hover{
    color: #E6F9A7;
  }
a.about:hover + #abt{
  display: block;
  transition: all 0.5s ease;
}
.names{
  font-size: 25px;
  color: rgb(3, 3, 79);
  font-family: Marko One , cursive;
  display: block;
  text-align: left;
  padding: 5px;
  text-shadow: grey 1px 1px;
  font-weight:bold;
}
.nameCont{
  margin: 5px;
  display: block;
  background-color: aliceblue;
  border: lightgrey solid 1px;
  border-radius: 25px;
  box-shadow: #848481 3px 3px;
  width: 95%;
}
#about:hover{
  display: block;
}
.logo{
  width: 95%;
  height: 120px;
  background-image: url('./logo.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 5px;
  box-shadow: #848481 3px 3px;
  border: lightgrey solid 1px ;
  display: block;
}
.image{
  display: inline;
  text-align: left;
  width: 120px;
  position: absolute;
  left: 15px;
  top: 15px;
  box-shadow: #848481 3px 3px;
  border: lightgray solid 1px;
  border-radius: 15px;
}
.article{
  width: 70%;
  height:78%;
  background-color: aliceblue;
  position: relative;
  left: 150px;
  bottom: 12px;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  border: rgb(8, 131, 110) 1px solid;
}